body { 
    font-family: sans-serif;
    margin: 30px;
    /* font-size: 50px; */
}

#currentTemperature {
    font-weight: bold;
}

#weatherButton {
    color: white;
    background-color: rgb(60, 60, 255);
    border-radius: 5px;
    border-width: 1px;
}

#weatherButton:active {
    border-width: 2px;
}

#location {
    margin-right: 10px;
    margin-top: 20px;
}

.navigation {
    margin-bottom: 15px;
}